@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
}

.posters{
    display: flex;
    padding: 30px;
    overflow: scroll;
}
.item{
    max-height: 250px;
    min-height: 250px;
    margin-right: 20px;
}

@media only screen and (max-device-width: 1366px) {
    .item {
      max-width: 150px;
    }
  }

::-webkit-scrollbar{
    display: none;
}

